---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente",
    title: "Codificador Informático",
    company: "Ainur",
    description:
      "Asistencia informatica en apps web internas de la empresa",
  },
    {
    date: "Actualmente",
    title: "Frontend Developer",
    company: "2Kids",
    description:
      "Desarrollo de la app 2kids utilizando React, JavaScript y TailwindCSS",
  },
  {
    date: "Noviembre 2024 - Septiembre 2025",
    title: "Full Stack Developer & Team Leader",
    company: "Bubbo",
    description:
      "Desarrollo de app web. Utilizo tecnologías como Next.js, CSS, CSS Modules,TypeScript, React y Firebase para crear funcionalidades que mejoren la interacción con el usuario. Corrección de pruebas técnicas de los recién llegados.",
    link: "https://www.bubbo.ai/",
  },
 
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
