---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Frontend Developer & Team Leader",
    company: "Bubbo",
    description:
      "Desarrollo de la landing page y la web de la plataforma. Utilizo tecnologías como Next.js, CSS, CSS Modules y TypeScript para crear funcionalidades que mejoren la interacción con el usuario. Corrección de pruebas técnicas de los recién llegados.",
    link: "https://www.bubbo.app/",
  },
 
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
